<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
    Allows Glide to monitor connectivity status and restart failed requests if users go from a
    a disconnected to a connected network state.
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".TheApplication">

        <service android:name=".widget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service android:name=".widget.RecipeViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <provider
            android:authorities="com.udacity.bakingapp.Database.RecipeProvider"
            android:name=".Database.generated.RecipeProvider"
            android:exported="true"/>

        <activity android:name=".RecipeCardsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StepListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".RecipeCardsActivity" />
        <activity
            android:name=".DetailsActivity"
            android:parentActivityName=".StepListActivity" />
        <activity
            android:name=".IngredientsActivity"
            android:parentActivityName=".StepListActivity" />

        <receiver android:name=".widget.BakingAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_app_widget_info" />
        </receiver>

        <service
            android:name=".widget.WidgetIntentService"
            android:exported="false">

        </service>
    </application>

</manifest>